name: valgrind

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  valgrind:

    runs-on: ubuntu-latest

    env:
      VALGRIND: valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --verbose --error-exitcode=1

    steps:
      - uses: actions/checkout@main

      - run:  sudo apt -y update
      - run:  sudo apt -y install valgrind cmake ninja-build gcc pkg-config libcurl4-openssl-dev libgit2-dev libarchive-dev libyaml-dev libjansson-dev libsqlite3-dev

      - run:  cmake -S . -B   build.d -G Ninja -DCMAKE_INSTALL_PREFIX=./output -DCMAKE_VERBOSE_MAKEFILE=ON
      - run:  cmake --build   build.d
      - run:  cmake --install build.d

      - run:  $VALGRIND ./output/bin/uppm

      - run:  $VALGRIND ./output/bin/uppm --help
      - run:  $VALGRIND ./output/bin/uppm --version

      - run:  $VALGRIND ./output/bin/uppm -h
      - run:  $VALGRIND ./output/bin/uppm -V

      - run:  $VALGRIND ./output/bin/uppm env
      - run:  $VALGRIND ./output/bin/uppm env -v

      - run:  $VALGRIND ./output/bin/uppm integrate zsh

      - run:            ./output/bin/uppm update

      - run:  $VALGRIND ./output/bin/uppm ls-available
      - run:  $VALGRIND ./output/bin/uppm ls-installed
      - run:  $VALGRIND ./output/bin/uppm ls-outdated

      - run:  $VALGRIND ./output/bin/uppm search    and

      - run:  $VALGRIND ./output/bin/uppm info      tree
      - run:  $VALGRIND ./output/bin/uppm info      tree @all
      - run:  $VALGRIND ./output/bin/uppm info      tree --shell
      - run:  $VALGRIND ./output/bin/uppm info      tree --json
      - run:  $VALGRIND ./output/bin/uppm info      tree --yaml

      - run:  $VALGRIND ./output/bin/uppm info      tree summary
      - run:  $VALGRIND ./output/bin/uppm info      tree version
      - run:  $VALGRIND ./output/bin/uppm info      tree license
      - run:  $VALGRIND ./output/bin/uppm info      tree webpage
      - run:  $VALGRIND ./output/bin/uppm info      tree bin-url
      - run:  $VALGRIND ./output/bin/uppm info      tree bin-sha
      - run:  $VALGRIND ./output/bin/uppm info      tree dep-pkg
      - run:  $VALGRIND ./output/bin/uppm info      tree install
      - run:  $VALGRIND ./output/bin/uppm info      tree formula

      - run:  $VALGRIND ./output/bin/uppm depends   tree
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk --format=box
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk --format=box

      - run:  $VALGRIND ./output/bin/uppm fetch gzip
      - run:  $VALGRIND ./output/bin/uppm fetch gsed -v

      - run:  $VALGRIND ./output/bin/uppm install   tree

      - run:  $VALGRIND ./output/bin/uppm info      tree installed-dir
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-files
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-receipt-path
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-receipt-json
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-receipt-yaml
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-timestamp-iso-8601
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-timestamp-rfc-3339
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-timestamp-unix
      - run:  $VALGRIND ./output/bin/uppm info      tree installed-version

      - run: |
          sed -i '/^version: /c version: 2.0.3' $(./output/bin/uppm info tree formula | head -n 1 | cut -d ' ' -f2)

      - run:  $VALGRIND ./output/bin/uppm ls-available
      - run:  $VALGRIND ./output/bin/uppm ls-installed
      - run:  $VALGRIND ./output/bin/uppm ls-outdated

      - run:  $VALGRIND ./output/bin/uppm is-available tree
      - run:  $VALGRIND ./output/bin/uppm is-installed tree
      - run:  $VALGRIND ./output/bin/uppm is-outdated  tree

      - run:  $VALGRIND ./output/bin/uppm tree      tree
      - run:  $VALGRIND ./output/bin/uppm tree      tree -L 2

      - run:  $VALGRIND ./output/bin/uppm upgrade   tree
      - run:  $VALGRIND ./output/bin/uppm reinstall tree
      - run:  $VALGRIND ./output/bin/uppm uninstall tree

      - run:  $VALGRIND ./output/bin/uppm upgrade-self

      - run:  $VALGRIND ./output/bin/uppm formula-repo-list
      - run:  $VALGRIND ./output/bin/uppm formula-repo-add my_repo https://github.com/leleliu008/uppm-formula-repository-my_repo
      - run:  $VALGRIND ./output/bin/uppm formula-repo-del my_repo

      - run:  $VALGRIND ./output/bin/uppm cleanup
