name: valgrind

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  valgrind:

    runs-on: ubuntu-latest

    container: ubuntu:22.04

    env:
      VALGRIND: valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --verbose --error-exitcode=1

    steps:
      - uses: actions/checkout@main

      - run:  apt -y update
      - run:  apt -y install valgrind cmake ninja-build pkg-config g++ linux-headers-generic  curl zip unzip tar git

      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: microsoft/vcpkg
          path: vcpkg

      - run:  cd vcpkg && ./bootstrap-vcpkg.sh

      - run:  cd vcpkg && ./vcpkg install curl openssl libgit2 libarchive libyaml jansson zlib

      - run:  |
          cmake \
              -S . \
              -B build.d \
              -G Ninja \
              -DCMAKE_TOOLCHAIN_FILE=$PWD/vcpkg/scripts/buildsystems/vcpkg.cmake \
              -DCMAKE_INSTALL_PREFIX=./output \
              -DCMAKE_VERBOSE_MAKEFILE=ON \
              -DCMAKE_BUILD_TYPE=Debug

      - run:  cmake --build   build.d
      - run:  cmake --install build.d


      - run:  $VALGRIND ./output/bin/uppm

      - run:  $VALGRIND ./output/bin/uppm --help
      - run:  $VALGRIND ./output/bin/uppm --version

      - run:  $VALGRIND ./output/bin/uppm -h
      - run:  $VALGRIND ./output/bin/uppm -V

      - run:  $VALGRIND ./output/bin/uppm env
      - run:  $VALGRIND ./output/bin/uppm env -v

      - run:  $VALGRIND ./output/bin/uppm integrate zsh

      - run:            ./output/bin/uppm update

      - run:  $VALGRIND ./output/bin/uppm ls-available
      - run:  $VALGRIND ./output/bin/uppm ls-installed
      - run:  $VALGRIND ./output/bin/uppm ls-outdated

      - run:  $VALGRIND ./output/bin/uppm search    and

      - run:  $VALGRIND ./output/bin/uppm info-available      tree
      - run:  $VALGRIND ./output/bin/uppm info-available      tree --shell
      - run:  $VALGRIND ./output/bin/uppm info-available      tree --json
      - run:  $VALGRIND ./output/bin/uppm info-available      tree --yaml

      - run:  $VALGRIND ./output/bin/uppm info-available      tree summary
      - run:  $VALGRIND ./output/bin/uppm info-available      tree version
      - run:  $VALGRIND ./output/bin/uppm info-available      tree license
      - run:  $VALGRIND ./output/bin/uppm info-available      tree webpage
      - run:  $VALGRIND ./output/bin/uppm info-available      tree bin-url
      - run:  $VALGRIND ./output/bin/uppm info-available      tree bin-sha
      - run:  $VALGRIND ./output/bin/uppm info-available      tree dep-pkg
      - run:  $VALGRIND ./output/bin/uppm info-available      tree install
      - run:  $VALGRIND ./output/bin/uppm info-available      tree formula

      - run:  $VALGRIND ./output/bin/uppm depends   tree
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk -t box
      - run:  $VALGRIND ./output/bin/uppm depends   android-sdk -t box

      - run:  $VALGRIND ./output/bin/uppm fetch gzip
      - run:  $VALGRIND ./output/bin/uppm fetch gsed -v

      - run:  $VALGRIND ./output/bin/uppm install   tree

      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-dir
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-files
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-receipt-path
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-receipt-json
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-receipt-yaml
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-timestamp-iso-8601
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-timestamp-rfc-3339
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-timestamp-unix
      - run:  $VALGRIND ./output/bin/uppm info-available      tree installed-version

      - run: |
          sed -i '/^version: /c version: 2.0.3' $(./output/bin/uppm info-available tree formula)

      - run:  $VALGRIND ./output/bin/uppm ls-available
      - run:  $VALGRIND ./output/bin/uppm ls-installed
      - run:  $VALGRIND ./output/bin/uppm ls-outdated

      - run:  $VALGRIND ./output/bin/uppm is-available tree
      - run:  $VALGRIND ./output/bin/uppm is-installed tree
      - run:  $VALGRIND ./output/bin/uppm is-outdated  tree

      - run:  $VALGRIND ./output/bin/uppm tree      tree
      - run:  $VALGRIND ./output/bin/uppm tree      tree -L 2

      - run:  $VALGRIND ./output/bin/uppm upgrade   tree
      - run:  $VALGRIND ./output/bin/uppm reinstall tree
      - run:  $VALGRIND ./output/bin/uppm uninstall tree


      - run:  $VALGRIND ./output/bin/uppm formula-repo-list
      - run:  $VALGRIND ./output/bin/uppm formula-repo-add my_repo https://github.com/leleliu008/uppm-formula-repository-linux-x86_64
      - run:  $VALGRIND ./output/bin/uppm formula-repo-list
      - run:  $VALGRIND ./output/bin/uppm formula-repo-del my_repo

      - run:  $VALGRIND ./output/bin/uppm cleanup
      - run:  $VALGRIND ./output/bin/uppm upgrade-self
